<div class="banner">
    <div>
        <p>Hi, my name is</p>
        <h1>beryl</h1>
        <h2>Fullstack Web Developer</h2>
    </div>
    <div>
        <p>Need a website?</p>
        <a href="#" class="button-accent">Contact me</a>
    </div>
</div>

<div>
    <h2>Portfolio</h2>
</div>

<div>
    <h2>Skills</h2>
    <i class="devicon-ruby-plain"></i>
    <i class="devicon-rails-plain"></i>
    <i class="devicon-html5-plain"></i>
    <i class="devicon-css3-plain"></i>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-bootstrap-plain"></i>
    <i class="devicon-git-plain"></i>
    <i class="devicon-github-original"></i>
    <i class="devicon-heroku-plain"></i>
    <i class="devicon-photoshop-plain"></i>
    <i class="devicon-illustrator-plain"></i>
    <i class="devicon-indesign-plain"></i>
    <i class="devicon-figma-plain"></i>
    <i class="devicon-php-plain"></i>
    <i class="devicon-symfony-original"></i>
    <i class="devicon-react-original"></i>
    <i class="devicon-postgresql-plain"></i>
    <i class="devicon-sass-original"></i>
</div>

<div>
    <h2>About me</h2>
</div>

<div>
    <a href="#">beryl.armand@gmail.com</a>
    <i class="devicon-slack-plain"></i>
    <i class="devicon-linkedin-plain"></i>
    <i class="devicon-github-original"></i>
</div>




