<div class="project-card creations-bois" data-toggle="modal" data-target=".bd-creations-bois-modal-lg">
    <div class="project-card-content">
        <h3>Créations Bois</h3>
        <p>E-commerce website</p>
        <div class="skill-line">
            <div class="skill">
                <i class="icon devicon-php-plain"></i>
                <span class="skill-text">PHP</span>
            </div>
            <div class="skill">
                <i class="icon devicon-symfony-original"></i>
                <span class="skill-text">Symfony</span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-creations-bois-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h3 class="modal-title dark-text">Samba</h3>
            <div class="modal-links">
                <a href="https://github.com/beryl-koller/creations-bois" target="blank" class="button-accent button-accent-small">View on Github</a>
            </div>
            <div class="row modal-details">
                <div class="modal-desc col-sm-12 col-md-7 col-lg-9">
                    <p>Creations Bois is a fictive but comprehensive e-commerce website. The whole purchasing process has been created: displaying and promoting products, adding items to the cart, choosing delivery address and carrier service, paying, managing account. An admin backoffice has also been included in the project.</p>
                    <p>The first objective of this project was to get to know more about PHP / Symfony. I developed it on my own, following an online training course.</p>
                </div>
                <div class="modal-stack col-sm-12 col-md-5 col-lg-3">
                    <div class="modal-skills">
                        <div class="modal-skill">
                            <i class="modal-icon devicon-php-plain"></i>
                            <span class="modal-skill-text">PHP</span>
                        </div>
                        <div class="modal-skill">
                            <i class="modal-icon devicon-symfony-original"></i>
                            <span class="modal-skill-text">Symfony</span>
                        </div>
                        <div class="modal-skill">
                            <i class="modal-icon devicon-doctrine-plain"></i>
                            <span class="modal-skill-text">Doctrine</span>
                        </div>
                        <div class="modal-skill">
                            <i class="modal-icon fab fa-stripe-s"></i>
                            <span class="modal-skill-text">Stripe</span>
                        </div>
                    </div>
                </div>

            </div>
            <div id="carouselCreationsBoisIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselCreationsBoisIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselCreationsBoisIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselCreationsBoisIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselCreationsBoisIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselCreationsBoisIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselCreationsBoisIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselCreationsBoisIndicators" data-slide-to="6"></li>
                    <li data-target="#carouselCreationsBoisIndicators" data-slide-to="7"></li>
                    <li data-target="#carouselCreationsBoisIndicators" data-slide-to="8"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1623184906/Portfolio/Projects/Cr%C3%A9ations%20Bois/creations-bois-8_kj9psk.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1623184903/Portfolio/Projects/Cr%C3%A9ations%20Bois/creations-bois-1_fsxy5l.png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1623184903/Portfolio/Projects/Cr%C3%A9ations%20Bois/creations-bois-2_j6ff17.png" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1623184901/Portfolio/Projects/Cr%C3%A9ations%20Bois/creations-bois-3_l7kbal.png" alt="Fourth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1623184902/Portfolio/Projects/Cr%C3%A9ations%20Bois/creations-bois-4_jxalog.png" alt="Fifth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1623184901/Portfolio/Projects/Cr%C3%A9ations%20Bois/creations-bois-5_iqluzq.png" alt="Sixth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1623184903/Portfolio/Projects/Cr%C3%A9ations%20Bois/creations-bois-6_laasni.png" alt="Seventh slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1623184901/Portfolio/Projects/Cr%C3%A9ations%20Bois/creations-bois-7_hzgwa2.png" alt="Eighth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1623184904/Portfolio/Projects/Cr%C3%A9ations%20Bois/creations-bois-9_edyxuf.png" alt="Ninth slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselCreationsBoisIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselCreationsBoisIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>