<div class="project-card imparato" data-toggle="modal" data-target=".bd-imparato-modal-lg">
    <div class="project-card-content">
        <h3>Imparato Cours</h3>
        <p>Administration platform for theater schools</p>
        <div class="skill-line">
            <div class="skill">
                <i class="icon devicon-rails-plain"></i>
                <span class="skill-text">Ruby on Rails</span>
            </div>
            <div class="skill">
                <svg class="icon" width="16px" viewBox="0 0 256 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="white" stroke="currentColor">
                    <path d="M128,-1.0658141e-14 C93.8666667,-1.0658141e-14 72.5333333,17.0666667 64,51.2 C76.8,34.1333333 91.7333333,27.7333333 108.8,32 C118.537481,34.4343704 125.497363,41.4985481 133.201067,49.3184 C145.750756,62.0567704 160.275437,76.8 192,76.8 C226.133333,76.8 247.466667,59.7333333 256,25.6 C243.2,42.6666667 228.266667,49.0666667 211.2,44.8 C201.462519,42.3656296 194.502637,35.3014519 186.798933,27.4816 C174.249244,14.7432296 159.724563,-1.0658141e-14 128,-1.0658141e-14 Z M64,76.8 C29.8666667,76.8 8.53333333,93.8666667 0,128 C12.8,110.933333 27.7333333,104.533333 44.8,108.8 C54.5374815,111.23437 61.497363,118.298548 69.2010667,126.1184 C81.7507556,138.85677 96.275437,153.6 128,153.6 C162.133333,153.6 183.466667,136.533333 192,102.4 C179.2,119.466667 164.266667,125.866667 147.2,121.6 C137.462519,119.16563 130.502637,112.101452 122.798933,104.2816 C110.249244,91.5432296 95.724563,76.8 64,76.8 Z"></path>
                </svg>
                <span class="skill-text">Tailwind CSS</span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-imparato-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h3 class="modal-title dark-text">Imparato Cours</h3>
            <div class="modal-links">
                <a href="https://github.com/Imparato/schools" target="blank" class="button-accent button-accent-small">View on Github</a>
            </div>
            <div class="row modal-details">
                <div class="modal-desc col-sm-12 col-md-7 col-lg-9">
                    <p>Imparato Cours is an administration platform where theater schools can create and edit information about their activities. Each user can manage one or several school(s), and add teachers, addresses and courses for each of them. The overall goal is to automatically publish this data on Imparato's website, so that people can easily search and find information about theater courses in their city.</p>
                    <p>I'm currently working on this project, in a team of 2 people and 1 supervisor.</p>
                </div>
                <div class="modal-stack col-sm-12 col-md-5 col-lg-3">
                    <div class="modal-skills">
                        <div class="modal-skill">
                            <i class="modal-icon devicon-ruby-plain"></i>
                            <span class="modal-skill-text">Ruby</span>
                        </div>
                        <div class="modal-skill">
                            <i class="modal-icon devicon-rails-plain"></i>
                            <span class="modal-skill-text">Ruby on Rails</span>
                        </div>
                        <div class="modal-skill">
                            <svg class="modal-icon" width="16px" viewBox="0 0 256 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="$dark" stroke="$dark">
                                <path d="M128,-1.0658141e-14 C93.8666667,-1.0658141e-14 72.5333333,17.0666667 64,51.2 C76.8,34.1333333 91.7333333,27.7333333 108.8,32 C118.537481,34.4343704 125.497363,41.4985481 133.201067,49.3184 C145.750756,62.0567704 160.275437,76.8 192,76.8 C226.133333,76.8 247.466667,59.7333333 256,25.6 C243.2,42.6666667 228.266667,49.0666667 211.2,44.8 C201.462519,42.3656296 194.502637,35.3014519 186.798933,27.4816 C174.249244,14.7432296 159.724563,-1.0658141e-14 128,-1.0658141e-14 Z M64,76.8 C29.8666667,76.8 8.53333333,93.8666667 0,128 C12.8,110.933333 27.7333333,104.533333 44.8,108.8 C54.5374815,111.23437 61.497363,118.298548 69.2010667,126.1184 C81.7507556,138.85677 96.275437,153.6 128,153.6 C162.133333,153.6 183.466667,136.533333 192,102.4 C179.2,119.466667 164.266667,125.866667 147.2,121.6 C137.462519,119.16563 130.502637,112.101452 122.798933,104.2816 C110.249244,91.5432296 95.724563,76.8 64,76.8 Z"></path>
                            </svg>
                            <span class="modal-skill-text">Tailwind CSS</span>
                        </div>
                        <div class="modal-skill">
                            <svg class="modal-icon" viewBox="0 0 45.116 22.806" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px">
                                <path d="M33.71 0L11.207 22.693l.113.113h22.586l11.21-11.304z" fill="$dark"/>
                                <path d="M11.405 0l22.578 22.769-.039.037H11.209L0 11.502z" fill="$dark"/>
                            </svg>
                            <span class="modal-skill-text">Alpine.js</span>
                        </div>
                        <div class="modal-skill">
                            <i class="modal-icon devicon-heroku-plain"></i>
                            <span class="modal-skill-text">Heroku</span>
                        </div>
                        <div class="modal-skill">
                            <i class="modal-icon fas fa-check-square"></i>
                            <span class="modal-skill-text">TDD / Unit tests</span>
                        </div>
                        <div class="modal-skill">
                            <i class="modal-icon fas fa-file-alt"></i>
                            <span class="modal-skill-text">Building APIs</span>
                        </div>
                    </div>
                </div>

            </div>
            <div id="carouselImparatoIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselImparatoIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselImparatoIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselImparatoIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselImparatoIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1622738992/Portfolio/Projects/Imparato/imparato-1_utoada.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1622738391/Portfolio/Projects/Imparato/imparato-2_fhdbyo.png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1622738394/Portfolio/Projects/Imparato/imparato-4_f1xpty.png" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://res.cloudinary.com/df0stqosw/image/upload/v1622738394/Portfolio/Projects/Imparato/imparato-3_szmy4d.png" alt="Fourth slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselImparatoIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselImparatoIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>