// MAIN BANNER

.banner {
    background-image: url(https://res.cloudinary.com/df0stqosw/image/upload/q_auto/v1622530415/Portfolio/Banner/dynamic-wang-8PppxyQr7QI-unsplash_dwvexh.jpg);
    background-size: cover;
    background-position: 0% 58%;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.banner-surtitle {
    font-size: 28px;
}

.banner-title {
    color: $accent;
    font-size: 80px;
    font-weight: bold;
    margin: -20px 0 20px 0;
}

.banner-subtitle {
    font-size: 42px;
    margin-bottom: 40px;
}

.banner-text {
    margin-bottom: 12px;
}

// SUBBANNERS

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
    .subbanner {
        padding: 40px 20px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .subbanner {
        padding: 64px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
    .subbanner {
        padding: 40px 128px;
    }
}

// PORTFOLIO

.portfolio {
    padding-bottom: 40px;
}

// SKILLS

.skills {
    background-image: url(https://res.cloudinary.com/df0stqosw/image/upload/q_auto/v1622530415/Portfolio/Banner/dynamic-wang-8PppxyQr7QI-unsplash_dwvexh.jpg);
    background-size: 180%;
    background-position: 0% 100%;
}

.skill-group {
    margin-top: 40px;
    line-height: 1.8rem;
}

.skill-line {
    display: flex;
    flex-wrap: wrap;
    &:not(:first-child) {
        margin-top: 10px;
    }
}

.icon {
    color: white;
    margin-right: 4px;
}

.skill-text {
    margin-right: 12px;
}

#indesign {
    margin-bottom: 4px;
}

// ABOUT ME

.about-me-content {
    margin-top: 40px;
}

.about-me-text {
    font-size: 15px;
}

@media (min-width: 100px) and (max-width: 768px) {
    .about-me-text {
        margin-top: 20px;
    }
}

.about-me-img {
    filter: saturate(0%);
}

// CONTACT

.contact {
    background-image: url(https://res.cloudinary.com/df0stqosw/image/upload/q_auto/v1622530415/Portfolio/Banner/dynamic-wang-8PppxyQr7QI-unsplash_dwvexh.jpg);
    background-size: 120%;
    background-position: 0% 100%;
}

.contact-details {
    margin-top: 40px;
    text-align: center;
}

.contact-details > a {
    text-decoration: none;
}

.contact-icon {
    color: white;
    font-size: 20px;
    padding: 0px 4px;
}