.banner {
    background-image: url(https://res.cloudinary.com/df0stqosw/image/upload/v1622530415/Portfolio/Banner/dynamic-wang-8PppxyQr7QI-unsplash_dwvexh.jpg);
    text-align: center;
    padding: 40px;
}