.button-accent {
    color: $accent;
    border: solid $accent 2px;
    padding: 8px 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    transition-property: all;
    transition-duration: 0.3s;
    background-color: transparent;
}

.button > a {
    color: $accent;
    text-decoration: none;
}

.button-accent:hover {
    color: white;
    background-color: $accent;
}

.button-accent-small {
    font-size: 12px;
    padding: 4px 6px;
}