.modal-content {
    padding: 15px;
}

.modal-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}

.modal-details {
    margin-bottom: 15px;
}

.modal-skills {
    display: flex;
    flex-wrap: wrap;
}

.modal-skill {
    color: $dark;
}

.modal-icon {
    color: $dark;
    margin-left: 12px;
}
