html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

.navbar-beryl {
  justify-content: space-between;
  background: $dark;
  padding: 10px;
}

.navbar-beryl .navbar-collapse {
  flex-grow: 0;
}

.navbar-beryl .navbar-brand {
  width: 40px;
}

.navbar-brand p {
  margin: 0;
  color: $accent;
  font-weight: bold;
}

.fas {
  color: $light;
  size: 28px;
}

.navbar-toggler {
  border: none;
}