.imparato {
    background-image: url('https://res.cloudinary.com/df0stqosw/image/upload/v1622738394/Portfolio/Projects/Imparato/imparato-3_szmy4d.png');
    background-size: cover;
    background-position: center;
}

.imparato:hover {
    background-image: linear-gradient(rgba(31, 40, 51, 0.8), rgba(31, 40, 51, 0.8)),
    url('https://res.cloudinary.com/df0stqosw/image/upload/v1622738394/Portfolio/Projects/Imparato/imparato-3_szmy4d.png');
    
}

.samba {
    background-image: url('https://res.cloudinary.com/df0stqosw/image/upload/v1623072653/Portfolio/Projects/Samba/samba-1_fm93ou.png');
    background-size: cover;
    background-position: center;
}

.samba:hover {
    background-image: linear-gradient(rgba(31, 40, 51, 0.8), rgba(31, 40, 51, 0.8)),
        url('https://res.cloudinary.com/df0stqosw/image/upload/v1623072653/Portfolio/Projects/Samba/samba-1_fm93ou.png');

}

.creations-bois {
    background-image: url('https://res.cloudinary.com/df0stqosw/image/upload/v1623184906/Portfolio/Projects/Cr%C3%A9ations%20Bois/creations-bois-8_kj9psk.png');
    background-size: cover;
    background-position: center;
}

.creations-bois:hover {
    background-image: linear-gradient(rgba(31, 40, 51, 0.8), rgba(31, 40, 51, 0.8)),
        url('https://res.cloudinary.com/df0stqosw/image/upload/v1623184906/Portfolio/Projects/Cr%C3%A9ations%20Bois/creations-bois-8_kj9psk.png');

}

.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 250px;
}

.project-card:hover {
    transform: translateY(3px);
    cursor: pointer;
}

.project-card:hover .project-card-content {
    opacity: 1;
    transform: translateY(0px);
}

.project-card .project-card-content {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(9px);
    transition: 0.5s;
    text-align: center;
}

.project-card .project-card-content h3 {
    margin: 0px;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.project-card .project-card-content p {
    font-size: 14px;
    margin: 8px 0px 16px 0px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.project-card .project-card-content a {
    text-decoration: none;
}

